*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 189, 197);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    border-radius: 50%;
    margin: 10px;
}
h1{
    font-size: 25px;
    font-weight: 900;
}
.shown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}
.shown li{
    list-style: none;
}
.shown li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    font-weight: 900;
}
.shown li a:hover{
    background: red;
    color: white;
    border-radius: 15px;
}
.bar{
    display: none;
}
.hide{
    position: fixed;
    top: 50px;
    right: 40px;
    width: 250px;
    height: auto;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    display: none;
    box-shadow: 10px 10px 10px black;

}
.hide li{
    list-style: none;
}
.hide li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    /* display: none; */
}
.hide li a:hover{
    background: red;
    color: white;
    border-radius: 15px;
}
.container{
    height: 100vh;
    background-color: rgb(172, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}
.space{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 300px;
    background-color: aliceblue;
}
.textarea{
    resize: none;
    border: 1px solid rgb(185, 117, 13);
    border-radius:10px;
    width: 100%;
    height: 100px;
    outline: none;
    font-size: 18px;
    margin: 30px 0px;
}
.number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:768px) {
    .shown .mobile{
        display: none;
    }
    .bar{
        display: block;
    }
    h1{
        font-size: 20px;
        font-weight: 400;
    }
}